
<nav class="navbar navbar-inverse navbar-fixed-top">
  <navbar-top></navbar-top>
</nav>

<!-- Page container -->
<div class="page-container" [class.sidebar-xs]="sidebarCollapsed">

  <!-- Page content -->
  <div class="page-content">

    <!-- Sidebar -->
    <div #sidebar class="sidebar sidebar-main">
      <div class="sidebar-content">
        <page-sidebar></page-sidebar>
      </div>
    </div>

    <!-- Main content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- /main content -->

    <div class="debug-bar" [hidden]="true">
      <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
    </div>

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->


