<navbar-top isLoggedIn=""></navbar-top>

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">
    <!-- Main Sidebar -->
    <div class="sidebar sidebar-main" [hidden]="hideSidebar">
      <div class="sidebar-content">
        <sidebar></sidebar>
      </div>
    </div>
    <!-- /main sidebar -->

    <!-- Main content -->
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
    <!-- /main content -->

    <div class="debug-bar" [hidden]="true">
      <pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>
    </div>

  </div>
  <!-- /page content -->

</div>
<!-- /page container -->


